.hide {
  display: flex;
}
.hide .hide__button {
  margin-right: 32px;
  display: block;
  padding: 10px;
}

.name-logo {
  margin: 0;
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  font-family: "Work Sans", sans-serif;
}

.nav-wrapper {
  z-index: 1000;
  padding: 0 50px;
  max-width: 1440px;
  margin: 0 auto 0;
}
.nav-wrapper .MuiToolbar-root {
  transition-duration: 2s;
  transition-property: background-color;
  justify-content: space-between;
  z-index: 1000;
  position: absolute;
  padding: 30px 50px 0;
  width: 100%;
  left: 0;
}
<<<<<<< Updated upstream
=======
.nav-wrapper .MenuIcon {
  z-index: 9999;
  background-color: #fff;
  width: 50px;
  height: 50px;
  border: #003156 1px solid;
  align-items: center;
}
>>>>>>> Stashed changes
.nav-wrapper a {
  display: contents;
  padding: 0;
  text-decoration: none;
  color: #003156;
  font-style: normal;
  line-height: normal;
}
.nav-wrapper a img {
  transition: width 2s, height 2s;
  width: auto;
  height: 132px;
  background-color: #003156;
}
.nav-wrapper a .MuiButtonBase-root {
  font-family: "Zen Antique", serif;
}
.nav-wrapper h3 {
  justify-content: center;
  display: flex;
  max-width: 425px;
  color: #003156;
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media only screen and (min-width: 600px) and (max-width: 1439px) {
  .nav-wrapper {
    margin: 0 auto 0;
    padding: 0 30px;
  }
  .nav-wrapper .MuiToolbar-root {
    padding: 10px 30px 0;
  }
  .nav-wrapper .hide .hide__button {
    margin-right: 15px;
    display: block;
    padding: 10px;
  }
  .nav-wrapper a {
    padding: 0;
  }
  .nav-wrapper a img {
    width: auto;
    height: 61px;
  }
  .nav-wrapper h3 {
    max-width: 200px;
    font-size: 10px;
  }
}
@media only screen and (max-width: 599px) {
  .nav-wrapper {
    margin: 0 auto 0;
    padding: 0 15px;
  }
<<<<<<< Updated upstream
  .nav-wrapper a img {
    width: 100px;
    height: auto;
=======
  .nav-wrapper .MuiToolbar-root {
    padding: 5px 10px 0;
  }
  .nav-wrapper .MenuIcon {
    background-color: #fff;
    right: 20px;
    width: 35px;
    height: 35px;
  }
  .nav-wrapper a {
    justify-content: center;
  }
  .nav-wrapper a img {
    width: auto;
    height: 61px;
>>>>>>> Stashed changes
  }
  .nav-wrapper h3 {
    max-width: 200px;
    font-size: 6px;
  }
}

.scrollAppBar .MuiToolbar-root {
  height: 65px;
  position: fixed;
  padding: 5px 50px;
  background-color: #fff;
  border-bottom: 1px solid #003156;
  box-shadow: 0px 3px 5px #003156;
}
.scrollAppBar a img {
  width: auto;
  height: 53px;
}
@media only screen and (min-width: 600px) and (max-width: 1439px) {
  .scrollAppBar {
    transition: 2s ease-in;
  }
  .scrollAppBar .MuiToolbar-root {
    height: 65px;
    position: fixed;
    padding: 5px 30px;
  }
}
@media only screen and (max-width: 599px) {
  .scrollAppBar .MuiToolbar-root {
    max-height: 30px;
    position: fixed;
    padding: 10px 10px;
  }
  .scrollAppBar a img {
    transition: width 2s, height 2s;
    width: auto;
    height: 35px;
  }
}

/*# sourceMappingURL=DrawerAppBar.css.map */
