
a{
  width: 300px;
  height: auto;
}

.hide {
  display: flex;

}

.name-logo{
  margin: 0 ;
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Work Sans', sans-serif;

}

.nav-wrapper {
  max-width: 1340px;
  margin: 34px auto 0;


  a {
    max-width: 200px;
    height: 50px;
    padding: 20px;
    text-decoration: none;
    color: #003156;
    font-style: normal;
    line-height: normal;

    img{
      width: 252px;
      height: 93px;
      background-color: #003156;

    }

  }
  h3{
    color:  #003156;
    font-family: 'Work Sans',sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  @media only screen and (min-width: 600px) and (max-width: 1439px) {

    margin: 20px auto 0;
    padding: 0 30px;

    a{
      img{
        width: 200px;
        height: auto;
      }
    }
    h3{
      font-size: 10px;
    }
  }
  @media only screen and  (max-width: 599px) {
    margin: 10px auto 0;
    padding: 0 15px;

    a{
      img{
        width: 100px;
        height: auto;
      }
    }
    h3{
      font-size: 6px;
    }

  }
}
