.Offering {
  margin-bottom: 50px;
}
.Offering .background {
  position: absolute;
  width: 100%;
  height: 103px;
  background: linear-gradient(180deg, rgba(43, 95, 137, 0.66) 0%, rgba(15, 133, 226, 0) 100%);
}
.Offering .logo {
  display: flex;
  padding: 25px 0 0;
}
.Offering .logo h3 {
  margin: 37px auto;
  align-items: center;
  color: var(--Primery-Color-2, #003156);
  text-align: center;
  font-family: "Zen Antique", serif;
  font-size: 32px;
  font-weight: 400;
  text-transform: capitalize;
}
.Offering .logo img {
  margin-left: 25px;
  position: absolute;
  width: 425px;
  height: auto;
  background-color: #003156;
}
.Offering .Offering__groups {
  justify-content: center;
  display: grid;
  align-items: center;
  width: 380px;
}
.Offering .Offering__groups img {
  margin: 0 auto;
  position: relative;
  z-index: 100;
  border-radius: 333px;
  width: 333px;
  height: 333px;
  transform: rotate(-0.13deg);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.Offering .group {
  box-sizing: border-box;
  z-index: -100;
  margin-top: -27px;
  padding-top: 30px;
  border-radius: 5px;
  width: 380px;
  height: 120px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.Offering .group h4 {
  margin: 0;
  color: #003156;
  font-family: "Zen Antique", serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.Offering .group p {
  margin: 0;
  color: #003156;
  font-family: "Zen Antique", serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.Offering .Regular {
  background-color: #EFE5D9;
}
.Offering .OneTime {
  background-color: #E5E2D6;
}
.Offering .Move_in {
  background-color: #EDECE9;
}
.Offering .Office {
  background-color: #F6F8FA;
}
.Offering .After_Repair {
  background-color: rgb(192, 211, 222);
}
.Offering .Deep {
  background-color: #D7EAF4;
}
.Offering .container .content {
  margin-top: 42px;
  justify-content: center;
  display: flex;
}
@media only screen and (min-width: 600px) and (max-width: 1439px) {
  .Offering .logo {
    padding: 30px 0;
  }
  .Offering .logo h3 {
    margin: 0 auto;
    font-size: 24px;
    font-weight: 400;
  }
  .Offering .logo img {
    z-index: 10;
    position: revert;
    margin-left: 30px;
    width: 200px;
    height: auto;
  }
  .Offering .Offering__groups {
    width: 270px;
    justify-content: center;
  }
  .Offering .Offering__groups img {
    z-index: 100;
    border-radius: 250px;
    width: 250px;
    height: 250px;
  }
  .Offering .group {
    justify-content: center;
    box-sizing: border-box;
    z-index: -100;
    margin-top: -27px;
    border-radius: 5px;
    padding: 27px 8px;
    width: 100%;
    height: 100px;
  }
  .Offering .group h4 {
    font-size: 18px;
  }
  .Offering .group p {
    font-size: 24px;
  }
  .Offering .container .content {
    width: 300px;
    margin-top: 42px;
    justify-content: center;
    display: flex;
  }
}
@media only screen and (max-width: 599px) {
  .Offering .logo {
    padding: 15px 0 0;
  }
  .Offering .logo h3 {
    align-items: center;
    display: flex;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
  }
  .Offering .logo img {
    z-index: 10;
    position: revert;
    margin-left: 15px;
    width: 150px;
    height: auto;
  }
  .Offering .Offering__groups {
    width: 170px;
    justify-content: center;
  }
  .Offering .Offering__groups img {
    z-index: 100;
    border-radius: 250px;
    width: 150px;
    height: 150px;
  }
  .Offering .group {
    justify-content: center;
    box-sizing: border-box;
    z-index: -100;
    margin-top: -27px;
    border-radius: 5px;
    padding: 27px 4px;
    width: 100%;
    height: 110px;
  }
  .Offering .group h4 {
    font-size: 16px;
  }
  .Offering .group p {
    font-size: 20px;
  }
  .Offering .container .content {
    margin-top: 20px;
  }
}

/*# sourceMappingURL=Offering.css.map */
